body {
  font-family: "Roboto", serif;
  font-size: 100%;
  color: yellow;
}

body {
  background-color:  #34495e;
}

.container justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200h;
  width: 500w;
}

font {
  font-family: 'Roboto', serif;
  color: yellow;
}

h1 {
  font-family: 'Roboto', serif;
  color: yellow;
  text-align: center;
  font-size: 325%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  font-family: 'Roboto', serif;
  color: yellow;
  text-align: center;
  font-size: 200%;
}

.grid-container {
  font-family: "Roboto", serif;
  color: yellow;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 30px;
  grid-template-columns: repeat(3);
  grid-template-rows: 2;
  margin-top: 100px;
  margin-bottom: 200px;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.container-images {
  font-family: "Roboto", serif;
  color: yellow;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 30px;
  grid-template-columns: repeat(3);
  grid-template-rows: 2;
  margin-top: 500px;
  margin-bottom: 500px;
}

@media (width < 320px) {
  .h1 {
    align-items: center;
  }
}

@media (width < 320px) {
  .h3 {
    align-items: center;
  }
}

@container (width < 320px) {
  .container-fluid {
    align-items: center;
  }
}

@container (width < 320px) {
  .grid-container {
    align-items: center;
  }
}


